stages:
  - install
  - build

# 安装
install:
  stage: install
  image: "$HARBOR_REGISTRY/ponycool/php-deploy:8.3"
  script:
    - composer install
  cache:
    paths:
      - vendor
  artifacts:
    expire_in: 30 days
    paths:
      - vendor
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

# 编译
build:
  stage: build
  image: "$HARBOR_REGISTRY/library/docker:29-cli"
  variables:
    DOCKER_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_SLUG
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login "$CI_REGISTRY_SERVER" -u "$CI_REGISTRY_USER" --password-stdin
    - echo "$ALIYUN_CR_PASSWORD" | docker login "$ALIYUN_CR_SERVER" -u "$ALIYUN_CR_USER" --password-stdin
  script:
    # docker in docker跨平台编译遇到无法解决的错误，暂时使用手动编译
    - docker build -t "$DOCKER_IMAGE_NAME" .
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        docker tag "$DOCKER_IMAGE_NAME" "$CI_REGISTRY_IMAGE:latest"
        docker push "$CI_REGISTRY_IMAGE:latest"
      fi
    - |
      if echo "$CI_COMMIT_TAG" | grep -Eq '^v[0-9]+\.[0-9]+'; then
        echo "This is a release"
      fi
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      exists:
        - Dockerfile
