{# 轮播 #}
{% if carousel %}
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for item in carousel %}
                <div class="swiper-slide">
                    <a href="">
                        <img src="{{ item.image }}" alt="{{ item.title }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
{% endif %}