<footer>
    <dl>
        <dt>授权</dt>
        <dd>邮箱： <a href="mailto:support@ponycool.com">support@ponycool.com</a></dd>
    </dl>
    <dl>
        <dt>网站信息</dt>
        <dd>共收录<span>{{ websiteCount | default(0) }}</span>个网站</dd>
        <dd>
            <button class="footer-add-apply">申请收录</button>
        </dd>
    </dl>
    <dl>
        <dt>Issues</dt>
        <dd><a href="https://github.com/ponycool/navigation/issues">Issues</a></dd>
    </dl>
    <dl>
        <dt>联系我们</dt>
        <dd>
            <img src="/img/qr-code.png" alt="">
        </dd>
    </dl>
</footer>