<footer>
    <dl>
        <dt>授权</dt>
        <dd>邮箱：<span>support@ponycool.com</span></dd>
    </dl>
    <dl>
        <dt>网站信息</dt>
        <dd>共收录<span>{{ websiteCount | default(0) }}</span>个网站</dd>
    </dl>
    <dl>
        <dt>问题反馈</dt>
        <dd>
            <a href="https://github.com/ponycool/navigation/issues">Issues</a>
        </dd>
    </dl>
    <img src="{{ "/img/qr-code.png" }}" alt=""/>
</footer>