<div class="logo">
    <img src="{{ "/img/logo-color.svg" }}" alt="">
</div>
{% if category %}
    {% set navs = category|filter(item=>item.pid==0 and item.level==1) %}
    {% if navs %}
        <ul>
            {% for nav in navs %}
                <li>
                    <div class="nav">
                        <div>
                            <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABHNCSVQICAgIfAhkiAAAAf9JREFUaIHtmF+SgjAMxr84+6B3Ai236G0Wb8MtQPBO+GT2AZhl1xboHyDO+D1qE/qbJE1a4CNZor03sETnlnMmXIhxq0+Um9aIBklaVkQox781RzLu+WubLbmpB/gGoJbaiANJH1zCAWCQGJC+Dr597Q8xNxMiJlxC7MWAEOMWYi8GpD5RTozrzLLK9ocYEKCDaY5EC4BeJApkkA0oNP2i6aw5TzVzqrmcXz2yazlPH1wmLSvbmk06+1lzzvh7tDKQ3QuqYn1j9dQyQayh1RriAMBrfeCfVonIVlEYK2qNuAA0hXmK9VUUZz3ABQ7DXuxiD64R3zQ6dNDV1JpEs6LOtyLgWhfmSxUQEJEYdTAVFYP/qikos/nyKvZYxUxAmejXJufj3ym11jhSCShTzcBvmikf/4tBNjhSVYjxLMjWjc1XkzWyR2PzlRXknSCACZC+wb2NrDVCwI3NBVgRzBecEbzJblVNNsREszoA6glUruPEYOs6ukxosiFucrEajxoBbuJ3dlfdC6qagjIGrBsJ1aaPDz0QYWZY9NEuryhNQRnB/clnSrs9B9UF5TFhdn3Xigmz+wNdLJjdQYA4MCJAYkgMSGhUxIAAHYyvrSgQAPCNijgQW1RsE/cgcSCAX1REgvhIJIgpvZ4zg6ZIEOAlvZwvdqKUaFaml8iP3kE/R9rLZe1XiTwAAAAASUVORK5CYII="
                                 alt="">
                            <p> {{ nav.name }}</p>
                        </div>
                        <svg width="24.000000" height="24.000000" viewBox="0 0 24 24" fill="none"
                             xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path id="矢量 4"
                                  d="M12 15.26L3.11 5.49C2.54 4.87 1.61 4.83 0.99 5.39C0.37 5.96 0.33 6.89 0.89 7.51L10.86 18.47C10.88 18.49 10.91 18.52 10.93 18.55C11.23 18.84 11.61 19 12 19C12.38 19 12.76 18.84 13.06 18.55C13.08 18.52 13.11 18.49 13.13 18.47L23.1 7.51C23.66 6.89 23.62 5.96 23 5.39C22.38 4.83 21.45 4.87 20.88 5.49L12 15.26Z"
                                  fill="currentColor" fill-opacity="1.000000" fill-rule="evenodd"/>
                        </svg>
                    </div>
                    {# 子分类 #}
                    {% set subNavs = category|filter(item=>item.pid==nav.id and item.level==2) %}
                    {% if subNavs %}
                        <div class="secondary-menu">
                            {% for subNav in subNavs %}
                                <p>{{ subNav.name }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
