<div class="search-wrapper">
    <div class="select">
        <span>站内</span>
        <img src="data:image/svg+xml,%3csvg%20width='24.000000'%20height='24.000000'%20viewBox='0%200%2024%2024'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs/%3e%3crect%20id='画板%209'%20width='24.000000'%20height='24.000000'%20fill='%23FFFFFF'%20fill-opacity='0'/%3e%3cpath%20id='矢量%204'%20d='M12%2015.26L3.11%205.49C2.54%204.87%201.61%204.83%200.99%205.39C0.37%205.96%200.33%206.89%200.89%207.51L10.86%2018.47C10.88%2018.49%2010.91%2018.52%2010.93%2018.55C11.23%2018.84%2011.61%2019%2012%2019C12.38%2019%2012.76%2018.84%2013.06%2018.55C13.08%2018.52%2013.11%2018.49%2013.13%2018.47L23.1%207.51C23.66%206.89%2023.62%205.96%2023%205.39C22.38%204.83%2021.45%204.87%2020.88%205.49L12%2015.26Z'%20fill='%23000000'%20fill-opacity='1.000000'%20fill-rule='evenodd'/%3e%3c/svg%3e"
             alt="">
    </div>
    <ul class="select-list">
        <li>站内</li>
        <li>百度</li>
        <li>谷歌</li>
        <li>Bing</li>
    </ul>
    <hr>
    <input type="text" placeholder="搜索网站" id="search-input">
    <button id="search-btn">
        <img src="/img/search.svg" alt="">
    </button>
</div>