<div class="floating-toolbar">
    <div class="github-gif">
        <a href="https://github.com/ponycool/navigation" target="_blank">
            <svg width="50.000000" height="50.000000" viewBox="0 0 50 50" fill="none"
                 xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <path d="M18.56 42.73C10.19 44.55 8.47 39.2 8.47 39.2C7.1 35.74 5.13 34.83 5.13 34.83C2.36 32.98 5.34 33.01 5.34 33.01C8.33 33.26 9.95 36.12 9.95 36.12C12.65 40.63 16.87 39.44 18.66 38.57L18.56 42.73Z"
                      fill="#3D58FF" fill-opacity="1.000000" fill-rule="nonzero" class="octo-arm"
                      style="transform-origin: 20px 40px"/>
                <path d="M17.08 47.99C17.08 48.06 18.95 47.22 18.95 46.45L18.98 36.77C19.27 34.81 20.05 33.48 20.95 32.75C14.15 31.98 7.03 29.43 7 18C7.03 14.74 8.21 12.05 10.18 9.99C9.82 9.22 8.78 6.18 10.47 2.09C10.47 2.09 13.01 1.29 18.87 5.13C21.27 4.47 23.88 4.15 26.5 4.12C29.07 4.12 31.72 4.47 34.15 5.17C39.98 1.29 42.56 2.06 42.56 2.06C44.21 6.18 43.17 9.22 42.85 9.96C44.81 12.09 46 14.71 46 18C46 29.46 38.84 31.98 32.04 32.75C33.11 33.66 34.12 35.47 34.12 38.27L34.08 46.41C34.08 47.25 36.23 48.09 36.26 47.99L17.08 47.99Z"
                      fill="#3D58FF" fill-opacity="1.000000" fill-rule="nonzero" class="octo-body">
                    <style>
                        @keyframes octocat {
                            0%,
                            100% {
                                transform: rotate(0);
                            }

                            20%,
                            60% {
                                transform: rotate(-25deg);
                            }

                            40%,
                            80% {
                                transform: rotate(100deg);
                            }
                        }

                        .octo-arm {
                            animation: octocat 1.1s linear infinite;
                        }
                    </style>
                </path>
            </svg>
        </a>
    </div>
    <div class="top">
        <img src="data:image/svg+xml,%3csvg%20width='50.000000'%20height='50.000000'%20viewBox='0%200%2050%2050'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdesc%3e%20Created%20with%20Pixso.%20%3c/desc%3e%3cdefs%3e%3cclipPath%20id='clip14_7'%3e%3crect%20id='top'%20width='50.000000'%20height='50.000000'%20fill='white'%20fill-opacity='0'/%3e%3c/clipPath%3e%3c/defs%3e%3cg%20clip-path='url(%23clip14_7)'%3e%3crect%20id='矩形%2010'%20x='27.000000'%20y='47.000000'%20rx='2.750000'%20width='5.500000'%20height='38.000000'%20transform='rotate(180%2027.000000%2047.000000)'%20fill='%233D58FF'%20fill-opacity='1.000000'/%3e%3crect%20id='矩形%2013'%20x='5.774933'%20y='27.955688'%20rx='2.750000'%20width='5.500000'%20height='30.532181'%20transform='rotate(-133.342%205.774933%2027.955688)'%20fill='%233D58FF'%20fill-opacity='1.000000'/%3e%3crect%20id='矩形%2014'%20rx='2.750000'%20width='5.500000'%20height='30.532181'%20transform='matrix(0.68635%20-0.727271%20-0.727271%20-0.68635%2044.3194%2027.9557)'%20fill='%233D58FF'%20fill-opacity='1.000000'/%3e%3crect%20id='矩形%2012'%20x='46.750000'%20y='3.000000'%20rx='2.750000'%20width='5.500000'%20height='44.000000'%20transform='rotate(90%2046.750000%203.000000)'%20fill='%233D58FF'%20fill-opacity='1.000000'/%3e%3c/g%3e%3c/svg%3e"
             alt=""/>
    </div>
</div>